#cocktails{
float:right;
font-size: 25px;
font-weight: bold;
font-style: italic;
}

h3{
text-align: center;
color: black;
font-size: 35px;
text-decoration: underline ;
font-style: italic;
font-weight: bold;
}